@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3 class="text-center text-dark my-3"><i class="icon ion-md-school mr-2"></i> Schools</h3>

<div class="d-flex justify-content-end my-5">
    <a class="btn btn-dark text-white shadow">
        <i class="icon ion-md-add-circle mr-2"></i> Add School
    </a>
</div>

@foreach(var school in Model)
        {
            <tr>
                <td>@school.Id</td>
                <td>@school.Name</td>
                <td>@school.Town.Name</td>
                <td>
                    <a  asp-area="Admin" asp-controller="Town" asp-action="Upsert" asp-route-id="@school.Id"  class="text-dark">
                        <i class="icon ion-md-create mr-2"></i>
                    </a>
               
                    <a class="text-dark">
                        <i class="icon ion-md-person mr-2"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


