
@model IEnumerable<uApply.Data.Models.District>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


@foreach(var d in Model)
{
    <h3 class="align-content-center text-muted">@d.Name | @d.Province.Name</h3>
}