
@model IEnumerable<uApply.Data.Models.Location.District>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   @* <h5 class="display-4">WELCOME TO uAPPLY ONLONE SCHOOL APPLICATION</h5>*@
    <h4 style="margin-top:20px">WELCOME TO uAPPLY ONLONE SCHOOL APPLICATION</h4>
</div>


@foreach(var d in Model)
{
    <h3 class="align-content-center text-muted">@d.Name | @d.Province.Name</h3>
}